ul {
    list-style-type: none;
    list-style-position: outside;
    list-style-image: url("rouge.png");
    border: 5px solid magenta;
    background-color: antiquewhite;
    padding: 5px;
    padding-left: 65px;
}

ul li {
background-color: pink;
margin: 5px;
}

ol {
    background-color: lightblue;
    list-style-type: lower-greek;
    padding: 8px;
    padding-left: 40px;
}

ol li {
    background-color: aqua;
    margin: 5px;
}