* {
    color: lightgray;
}

body {
    background-color: rgb(0, 145, 190);
}

#hatter {
    background-image: url("./HTML5sticker.png");
    background-repeat: no-repeat;
    background-attachment: scroll;  
    background-position: center;
    background-size: contain;
}